[submodule "external/ethereum-api"]
	path = external/ethereum-api
	url = https://github.com/oraclize/ethereum-api
[submodule "external/solidity-stringutils"]
	path = external/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
[submodule "external/ethereum-bridge"]
	path = external/ethereum-bridge
	url = https://github.com/oraclize/ethereum-bridge
[submodule "external/encrypted-queries"]
	path = external/encrypted-queries
	url = https://github.com/oraclize/encrypted-queries
