.idea
.vscode
env
node_modules
build
migrations
test
external/encryptedQuery/allEncryptedQueryStrings.txt
external/encryptedQuery/encryptedQueryString.txt
ContractLogs.log
.node-xmlhttprequest-*
mainnet.txt
deploy_doc.txt
